body {
    padding: 0;
}

main > section {
    padding: var(--spacing-base);
}

.header {
    flex-direction: column;
    margin-bottom: var(--spacing-base);
}

.header__logo {
    height: 40px;
    object-fit: contain;
    margin: calc(var(--spacing-base) * 1.5) 0;
}

.nav__item {
    flex-basis: 50%;
    padding: 0 0 var(--spacing-base);
}

.nav__item--active:before {
    top: unset;
    bottom: 0;
}

.form__submit {
    border-radius: 1rem;
    margin-left: -1rem;
}

.form__submit > span {
    display: none;
}

.form__submit > .icon {
    display: block;
    fill: var(--color-white);
}

.form__legend {
    width: 100%;
}