@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --spacing-base: 1rem;
    --color-base: #464646;
    --color-primary: #0065fc;
    --font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    color: var(--color-base);
    font-family: var(--font-family);
    padding: 0 var(--spacing-base);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header__logo {
    height: 50px;
    object-fit: contain;
    margin: var(--spacing-base) 0;
}

.nav {
    list-style: none;
    display: flex;
    height: 100%;

}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    padding: 0 calc(2 * var(--spacing-base));
}

.nav__item--active:before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
}

.nav__link {
    text-decoration: none;
    color: inherit;
}

.nav__item--active > .nav__link {
    color: var(--color-primary);
}

