:root {
    --base-padding: 1rem;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0 var(--base-padding);
}

@media (min-width: 1400px) {
    body {
        max-width: 1320px;
        margin: 0 auto;
    }
}