@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --spacing-base: 1rem;
    --color-base: #464646;
    --color-primary: #0065fc;
    --font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    color: var(--color-base);
    font-family: var(--font-family);
    padding: 0 var(--spacing-base);
}

@media (max-width: 575.98px) {
    body {
        padding: 0;
    }
}

@media (min-width: 1400px) {
    body {
        max-width: 1320px;
        margin: 0 auto;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

header > img {
    height: 50px;
    object-fit: contain;
    margin: var(--spacing-base) 0;
}

header > nav > ul {
    list-style: none;
    display: flex;
    height: 100%;

}

header > nav > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    padding: 0 calc(2 * var(--spacing-base));
}

header > nav > ul > li.active:before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
}

header > nav > ul > li > a {
    text-decoration: none;
    color: inherit;
}

header > nav > ul > li.active > a {
    color: var(--color-primary);
}

@media (max-width: 575.98px) {
    header {
        flex-direction: column;
        margin-bottom: var(--spacing-base);
    }

    header > nav > ul > li {
        flex-basis: 50%;
    }

    header > nav > ul > li {
        padding: 0 0 var(--spacing-base);
    }

    header > nav > ul > li.active:before {
        top: unset;
        bottom: 0;
    }
}
